<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="true" /><!-- default = true -->
        <setting name="useGeneratedKeys" value="true" /><!-- default = false -->
        <setting name="defaultExecutorType" value="REUSE" /><!-- SIMPLE/REUSE/BATCH default = SIMPLE -->
        <setting name="lazyLoadingEnabled" value="false" /><!-- default = true -->
        <setting name="aggressiveLazyLoading" value="true" /><!-- default = true -->
        <setting name="defaultStatementTimeout" value="25000" /><!-- Not Set(null) -->
        <setting name="useColumnLabel" value="true" /><!-- default = true --> 
        <setting name="autoMappingBehavior" value="PARTIAL" /><!-- NONE/PARTIAL/FULL default = PARTIAL -->
        <setting name="multipleResultSetsEnabled" value="true" /><!-- default = true -->        
        <setting name="safeRowBoundsEnabled" value="true" /><!-- default = true -->
        <setting name="mapUnderscoreToCamelCase" value="false" /><!-- default = false -->        
            
    </settings>
    
    <!--typeAliases>
        <typeAlias alias="userCreateVO" type="com.samsungosp.sample.persistence.oracle.vo.UserCreateVO"/>
    </typeAliases-->
    
    <!-- <mappers>
        <mapper resource="com/samsungosp/sample/guide/dao/sql/SampleDAO.xml" />
    </mappers> -->
</configuration>
